BACKUP/
data/
zwischen/
results/*/*
code/scraps/
results/*/*
*.asv
*.mat
*.xlsx
*.pptx
## *.docx

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
